<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eh</key>
	<array>
		<dict>
			<key>title</key>
			<string>画廊站点</string>
			<key>subTitle</key>
			<string>e-hentai</string>
			<key>subTitleSelected</key>
			<string>exhentai</string>
			<key>type</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>title</key>
			<string>显示中文Tag</string>
			<key>subTitle</key>
			<string>显示默认Tag,一般是罗马音Tag</string>
			<key>subTitleSelected</key>
			<string>如果该Tag有缓存翻译的话,显示为中文</string>
			<key>type</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>title</key>
			<string>显示日文标题</string>
			<key>subTitle</key>
			<string>显示默认标题,一般是英文标题</string>
			<key>subTitleSelected</key>
			<string>尝试显示日文标题</string>
			<key>type</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>title</key>
			<string>移动网络浏览</string>
			<key>subTitle</key>
			<string>移动网络条件下不允许浏览大图画廊</string>
			<key>subTitleSelected</key>
			<string>移动网络条件下允许浏览大图画廊</string>
			<key>type</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>title</key>
			<string>启动保护</string>
			<key>subTitle</key>
			<string>不启用启动保护功能</string>
			<key>subTitleSelected</key>
			<string>启用,启动应用或者退入后台1分钟后需要TouchID验证</string>
			<key>type</key>
			<string>开关</string>
		</dict>
		<dict>
			<key>title</key>
			<string>自定义底部栏</string>
			<key>subTitle</key>
			<string>设置后重启应用生效</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>type</key>
			<string>操作</string>
		</dict>
		<dict>
			<key>title</key>
			<string>清除缓存</string>
			<key>subTitle</key>
			<string></string>
			<key>subTitleSelected</key>
			<string></string>
			<key>type</key>
			<string>操作</string>
		</dict>
	</array>
	<key>hight</key>
	<array>
		<dict>
			<key>title</key>
			<string>主页分类显示</string>
			<key>subTitle</key>
			<string>默认在主页所显示的分类</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>type</key>
			<string>跳转</string>
		</dict>
		<dict>
			<key>title</key>
			<string>排除标签组</string>
			<key>subTitle</key>
			<string>在默认搜索中排除指定标签组</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>type</key>
			<string>跳转</string>
		</dict>
		<dict>
			<key>title</key>
			<string>排除语言</string>
			<key>subTitle</key>
			<string>在主页和搜索中隐藏指定语言的画廊</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>type</key>
			<string>跳转</string>
		</dict>
	</array>
	<key>suggest</key>
	<array>
		<dict>
			<key>title</key>
			<string>Email</string>
			<key>subTitle</key>
			<string>qinjiang104@163.com</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>mailto:qinjiang104@163.com</string>
			<key>type</key>
			<string>邮件</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Github</string>
			<key>subTitle</key>
			<string>/E-HentaiViewer/issues</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/kayanouriko/E-HentaiViewer/issues</string>
			<key>type</key>
			<string>网址</string>
		</dict>
	</array>
	<key>about</key>
	<array>
		<dict>
			<key>title</key>
			<string>参考项目</string>
			<key>subTitle</key>
			<string></string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>4</string>
			<key>type</key>
			<string>跳转</string>
		</dict>
		<dict>
			<key>title</key>
			<string>开源框架</string>
			<key>subTitle</key>
			<string></string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>5</string>
			<key>type</key>
			<string>跳转</string>
		</dict>
	</array>
	<key>reference</key>
	<array>
		<dict>
			<key>title</key>
			<string>2DimensionLovers/e-Hentai</string>
			<key>subTitle</key>
			<string>https://github.com/2DimensionLovers/e-Hentai</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/2DimensionLovers/e-Hentai</string>
			<key>type</key>
			<string>网址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>DaidoujiChen/Dai-Hentai</string>
			<key>subTitle</key>
			<string>https://github.com/DaidoujiChen/Dai-Hentai</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/DaidoujiChen/Dai-Hentai</string>
			<key>type</key>
			<string>网址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>seven332/EhViewer</string>
			<key>subTitle</key>
			<string>https://github.com/seven332/EhViewer</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/seven332/EhViewer</string>
			<key>type</key>
			<string>网址</string>
		</dict>
	</array>
	<key>frame</key>
	<array>
		<dict>
			<key>title</key>
			<string>ibireme/YYWebImage</string>
			<key>subTitle</key>
			<string>https://github.com/ibireme/YYWebImage</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/ibireme/YYWebImage</string>
			<key>type</key>
			<string>网址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ninjinkun/NJKWebViewProgress</string>
			<key>subTitle</key>
			<string>https://github.com/ninjinkun/NJKWebViewProgress</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/ninjinkun/NJKWebViewProgress</string>
			<key>type</key>
			<string>网址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Topfunky/TFHpple</string>
			<key>subTitle</key>
			<string>http://topfunky.com</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>http://topfunky.com</string>
			<key>type</key>
			<string>网址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>huahua0809/XHStarRateView</string>
			<key>subTitle</key>
			<string>https://github.com/huahua0809/XHStarRateView</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/huahua0809/XHStarRateView</string>
			<key>type</key>
			<string>网址</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Mapaler/EhTagTranslator</string>
			<key>subTitle</key>
			<string>https://github.com/Mapaler/EhTagTranslator</string>
			<key>subTitleSelected</key>
			<string></string>
			<key>value</key>
			<string>https://github.com/Mapaler/EhTagTranslator</string>
			<key>type</key>
			<string>网址</string>
		</dict>
	</array>
</dict>
</plist>
